/*
Name:   form_style.css
Author: Neil Agor
Date:   June 21, 2016
Description:
    Style for the form
*/
*:focus{
    outline: none;
}

body{
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

div#forms_div{
    width: 800px;
    float: left;
}

form.info_form{
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 30px;
}

.info_form h2, .info_form label{
    /*font-family: Georgia, "Arial", "Times New Roman", serif;*/
    font-family: "Arial";
}

.form_hint, .required_notification{
    font-size: 11px;
}

.info_form ul{
    width: 750px;
    
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

.info_form li{
    padding: 12px;
    border-bottom: 1px solid #A9A9A9;
    position: relative;
}

.info_form li:first-child, .info_form li:last-child{
    border-bottom: 1px solid #777;
}

.info_form h2{
    margin: 0;
    display: inline;
}

.required_notification{
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
    float: right;
}

.info_form label{
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
    font-weight: bold;
}

.info_form input{
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}

.info_form textarea{
    padding: 8px;
    width: 300px;
}

.info_form input, .info_form textarea{
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    padding-right: 30px;
}

.info_form input:focus, .info_form textarea:focus{
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right: 70px;
    -webkit-transition: padding .25s;
}

.validate{
    
    margin-left: 156px;
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    color: white;
    font-weight: bold;
    padding: 20px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

.info_form input.validate{
    height: 45px;
}

.validate:hover{
    opacity: .85;
    cursor: pointer;
}

.validate:active{
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b;
}

.form_hint{
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 8px;
    padding: 1px 6px;
    z-index: 999;
    position: absolute;
    display: none;
}

/*
.form_hint::before{
    content: "\25C0";
    color: #d45252;
    position: absolute;
    top: 1px;
    left: -6px;
}*/

.info_form input:focus + .form_hint{/* check */
    /*display: inline;*/
}

.info_form .radio_style{
    width: 20px;
    height: 25px;
    padding: 0;
}

#password2{
    margin-top: 10px;
    margin-left: 155px;
}

.info_form .educ{
    width: 25px;
    margin-left: 155px;
}

#car{
    height: 30px;
}

#month{
    height: 30px;
}

#day{
    width: 25px;
}

#year{
    width: 50px;
}

/* will get called if input is valid*/
.info_form .input_valid{
    background: "#228B22";
    display: inline;
}





















